{% extends 'todo/base.html' %}
{% block title %}Todo List{% endblock %}
{% block content %}
    <a href="{% url 'todo:todo_create' %}" class="bg-blue-500 text-white px-4 py-2 inline-block">Add New Todo</a>

    <ul class="space-y-2">
        {% for todo in todo_list %}
        <li class="bg-white shadow p-4 rounded flex justify-between items-center">
            <span>{{ todo.title }}</span>
            <div class="space-x-2">
                <a href="{% url 'todo:todo_update' todo.pk %}" class="text-blue-600 hover:underline">Edit</a>
                <a href="{% url 'todo:todo_delete' todo.pk %}" class="text-red-600 hover:underline">Delete</a>
            </div>
        </li>
        {% empty %}
        <li>No todos yet.</li>
        {% endfor %}
    </ul> 
{% endblock %}